// File: custom.scss
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gunmetal: #292f36;
$nickel: #747572;
$black: #000;

//$blue: #091540;
//$blue: #224870;
//$blue: #7FD1B9;
//$blue: #AECFDF;
//$blue:#6C91BF;
$blue: #355691;
$bluelight: #1446a0;
$indigo: #1e1d1e;
$purple: #6f42c1;
$pink: #db3069;
$red: #f00;
$orange: #fd7e14;
$yellow: #f5d547;
$webyellow: #ffff00;
$green: #168936;
$teal: #20c997;
$cyan: #0A7EB0;
$rwcblue: #54c8e8; // rgba(84, 200, 232, 1)
$rwcpurple: #993dbb; // rgba(153, 61, 187, 1)
$rwcteal: #2ed9c3; // rgba(46, 217, 195, 1)
$rwcred: #dd1188; // rgba(244, 67, 108, 1)
$rwcyellow: #f5a800; // rgba(245, 168, 0, 1)
$rwclime: #c8e854; // rgba(200, 232, 84, 1)
$success: $green;
$info: $pink;
$warning: $yellow;
$danger: $pink;
$light: $white;
$dark: $nickel;
$primary: $blue;
$primaryLight: $blue;

$secondary: $white;
$tertiary: $pink;
$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "cyan": $cyan,
    "teal": $teal,
    "nickel": $nickel,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "red": $red,
    "black": $black,
    "lightgray": $gray-400,
    "gunmetal": $gunmetal,
    "rwcblue": $rwcblue,
    "rwcpurple": $rwcpurple,
    "rwcteal": $rwcteal,
    "rwcred": $rwcred,
    "rwcyellow": $rwcyellow,
    "rwclime": $rwclime,
    "webyellow": $webyellow
  ),
  $theme-colors
);

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 3
    ),
    6: (
      $spacer * 5
    ),
    7: (
      $spacer * 7
    ),
    8: (
      $spacer * 8
    ),
    9: (
      $spacer * 9
    ),
    10: (
      $spacer * 10
    )
  ),
  $spacers
);

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-responsive-font-sizes: true !important;
$enable-validation-icons: true;
// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
// Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// $font-family-ubuntu: "Ubuntu", sans-serif;
// $font-family-roboto: "Roboto", sans-serif;
// $font-family-varelaround: "Varela Round", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-lato: "Lato", sans-serif;
$body-bg: $white;
$body-color: $gunmetal;
$font-family-base: $font-family-lato;
$font-family-secondary: $font-family-montserrat;
$font-size-base: 0.8rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/src/index.scss";

@import "@/assets/scss/animate.css";

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 100%;
$min_font: 18px;
$max_font: 22px;
$calc_font: calc(1vw + 1vh + 0.8vmin);
$calc_h1: calc(1.375rem + 1.5vw);
$calc_h2: calc(1.325rem + 0.9vw);
$calc_h3: calc(1.3rem + 0.1vw);
$calc_h4: calc(1.275rem + 0.3vw);
$calc_h5: calc(1.275rem + 0.3vw);
$calc_h6: calc(1.275rem + 0.3vw);

// @font-face {
//   font-family: 'Varela Round';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
// }

html {
  width: 100%;
  overflow-x: hidden;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-base;
  max-width: $max_width;
  padding: 0rem;
  margin: 0;
  font-size: 1.2rem;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$mod_1: 1.2; // mobile
$mod_2: 3; // desktop

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-family-secondary;
  font-family: $font-family-secondary;
  font-weight: 900;
  line-height: 1.5;
  color: inherit;
}

h1 {
  display: block;
  font-size: $calc_h1;
  text-transform: capitalize;
}

.text-large {
  font-size: $calc_h1;
}

.text-medium {
  font-size: $calc_h3;
}

.text-small {
  font-size: 1rem;
}

h2 {
  font-size: $calc_h2;
  // font-size: 30px;
  // line-height: 35px;
  text-transform: uppercase;
}

h3 {
  font-size: $calc_h3;
  text-transform: unset;
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
}

h4 {
  font-size: $calc_h4;
}
h5 {
  font-size: $calc_h5;
}
h6 {
  font-size: $calc_h6;
}

.vh-50 {
  height: 50vh;
}

.inlineImage10 {
  width: 10%;
}
.inlineImage20 {
  width: 20%;
}
.inlineImage30 {
  width: 30%;
}
.inlineImage50 {
  width: 50%;
}
.inlineImage75 {
  width: 75%;
}
.inlineImage100 {
  width: 100%;
}
.inlineImageLeft {
  float: left;
  padding-right: 1em;
}
.inlineImageRight {
  float: right;
}

.parralaxEffect {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parralaxEffectGrayscale {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%) saturate(50%) brightness(90%) contrast(100%);
  flex: 1;
  display: flex;
}

.parralaxNormal {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) saturate(100%) brightness(100%) contrast(100%);
}
.parralaxNormalLeft {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) saturate(100%) brightness(100%) contrast(100%);
}

.headerComponent {
  padding-left: 2em;
  padding-right: 2em;
}

hr {
  border: 0;
  height: 1px;
}

.hrprimary {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $secondary, $primary, $secondary);
}

.hrsecondary {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $secondary, $primary);
}

.headerModule {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  z-index: -1;
}
.headerModuleContents {
  /* This will make it stack on top of the ::before */
  position: relative;
  z-index: 1;
}

/*NAVBAR*/
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 992px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}

.rellaximage {
  background-color: #000;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wave-container {
  width: 100%;
  height: 10vh;
  overflow: visible;
}

#wave {
  display: block;
  position: relative;
  height: 2vh;
  background: white;
}

#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 80%;
  height: 20vh;
  background-color: red;
  right: -20%;
  top: -20%;
}

#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 50%;
  height: 300px;
  background-color: black;
  left: -5%;
  top: -5vh;
}

.waveClip {
  // height: 100VH;
  margin-top: -100px;
  clip-path: url(#wave);
}
.waveClip2 {
  margin-top: 50px;
  clip-path: path('M1,0c0,0-0.3,0.5-0.5,0.3S0.3,0,0,0.1V1h1L1,0z');
}


/* Image filters */
.contrast {
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
}

.comboFilter {
  filter: grayscale(0%) saturate(0.3) brightness(0.5);
  -webkit-filter: grayscale(0%) saturate(0.3) brightness(0.5);
}
.resetFilter {
  filter: grayscale(0%) saturate(1);
  -webkit-filter: grayscale(0%) saturate(1);
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.brightness {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}
.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navbar.scrolled {
  background: rgb(68, 68, 68); /* IE */
  background: rgba(0, 0, 0, 0.78); /* NON-IE */
}

.logo {
  margin: 0;
  padding: 0;
  width: 10em;
  font-weight: bold;
  margin-right: 0.05em;
}

.navbar-brand {
  font-size: 1rem;
  letter-spacing: 0em;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  width: 100%;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.nav-item {
  margin-left: 3vw;
  font-size: 0.8em;
  text-transform: uppercase;
  -webkit-transition:height 200ms ease-in;
  -moz-transition:height 200ms ease-in;
  -o-transition:height 200ms ease-in;
  transition:height 200ms ease-in;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: #fff;
}

.navbar-toggler {
  margin: 0 1em 0 1em;
  padding: 1em !important;
  border: none;
  outline: 0;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover {
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-toggler:hover {
  outline: none;
  box-shadow: none;
  border: none;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-menu {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: inherit;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.dropdown-menu:before {
  content:"";
  position: absolute;
  left: 11px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--primary) transparent;
  z-index:9999;
}

.dropdown-item {
  padding: 0.5em !important;
  background-color:var(--primary);
  color: var(--secondary);
  margin-top: 0.5vw;
}


.nav-item:hover, .nav-item:active  {
  background-color:var(--primary);
  color: var(--secondary);
  text-decoration: underline;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active  {
  // background-color: var(--secondary);
  // border-bottom: #20c997;
  // color: var(--info);
  text-decoration: underline;
}
/*END NAVBAR*/

/*LINKS*/
a {
  color: var(--info);
}
a:hover {
  color: var(--info);
}

.buttonComponent {
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 2;
  // padding: 5;
  letter-spacing:0.2em;
  margin-right:-0.3em;
  text-align:right;

}
.btn-ripple {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}

.btn-ripple::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 0.5s;
  transform: scale(5, 5);
}

.btn-ripple:active::after {
  padding: 0;
  margin: 0;
  opacity: 0.2;
  transition: 0s;
  transform: scale(0, 0);
}

.componenttext {
  line-height: 2;
  padding: 2em;
  text-align: left;
}

.imageBannerComponent {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vw;
  color: white;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkComponent {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.5;
}

.imageComponentImage {
  padding: 2em;
  z-index: 1;
}
.imageComponentText {
  line-height: 2;
  padding: 2em;
  text-align: left;
}
.overlayImage {
  min-height: 20vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(244, 255, 31, 0.2); /*dim the background*/
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  z-index: 20;
  background-color: rgba(244, 255, 31, 0.2); /*dim the background*/
}

/*SOCIAL*/
.fa {
  font-size: 2em;
  width: 1em;
  text-align: center;
  text-decoration: none;
  margin: 0.1em;
  opacity: 0.8;
}
.fa-small{
  font-size: 1em;
}
.fa-facebook {
  color: var(--secondary);
  text-decoration: none;
}

.fa-linkedin {
  color: var(--secondary);
  text-decoration: none;
}
.fa-whatsapp {
  color: var(--secondary);
  text-decoration: none;
}
.fa-hover:hover {
  color: var(--secondary);
  text-decoration: none;
  opacity: 1;
}

.fa-contact {
  color: var(--primary);
  font-size: 1.2em;
  line-height: 2em;
  text-decoration: none;
}

.fa-contact:hover {
  color: var(--primary);
}

fa-contact-dark {
  color: var(--secondary);
  font-size: 1.2em;
  line-height: 2em;
  text-decoration: none;
  opacity: 1;
}

fa-contact-dark:hover {
  color: var(--secondary);
}

/* FOOTER */
.footer {
  height: 100%;
  width: 100%;
  bottom: 5em;
  line-height: 2em;
}

.footer .col {
  width: auto;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.footer h2 {
  padding: unset;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer h4 {
  padding: unset;
  font-family: inherit;
  font-size: 0.8em;
  letter-spacing: 0.25em;
  font-weight: bold;
  line-height: 3em;
}

.footer a {
  color: var(--secondary);
}

.footer a:hover {
  color: var(--secondary);
}

.footer h6 {
  font-family: inherit;
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
  font-family: inherit;
  margin: 0vw;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  text-decoration: none;
}

.footer ul a {
  padding: unset;
}

// .footer ul a:hover {
//   // text-decoration: none;
// }

.footer ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
  color: #000;
}
.clearfix {
  clear: both;
}


