// File: custom.scss

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gunmetal: #292f36;
$nickel: #747572;
$black: #000;

// Base colors definitions
$blue: #091540;
$bluelight: #1446a0;
$indigo: #1e1d1e;
$purple: #6f42c1;
$pink: #db3069;
$red: #9b1c31;
$orange: #fd7e14;
$yellow: #f5d547;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

// Theme color default definitions

$success: $green;
$info: $pink;
$warning: $yellow;
$danger: $pink;
$light: $gray-100;
$dark: $nickel;
$primary: $blue;
$primaryLight: $blue;

$secondary: $white;
$tertiary: $pink;
$theme-colors: ();
// This table defines the theme colors (variant names)
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "cyan": $cyan,
    "teal": $teal,
    "nickel": $nickel,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "lightgray": $gray-400,
    "gunmetal": $gunmetal
  ),
  $theme-colors
);

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 3
    ),
    6: (
      $spacer * 5
    ),
    7: (
      $spacer * 7
    ),
    8: (
      $spacer * 8
    ),
    9: (
      $spacer * 9
    ),
    10: (
      $spacer * 10
    )
  ),
  $spacers
);

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
// Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
// 'Courier New', monospace;
// $font-family-lucida: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
// $font-family-verdana: Verdana, Helvetica, sans-serif;
// $font-family-helvetica: Helvetica, sans-serif;
// $font-family-trebuchet: sans-serif;
// $font-family-optima: 'Optima', 'Trebuchet MS', 'Noto Sans', sans-serif;
// $font-family-syncopate: 'Syncopate', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// $font-family-bowlby: 'Bowlby One SC', cursive;
// $font-family-blacksans: 'Black Han Sans', sans-serif;
//$font-family-nunitosans: "Nunito Sans", sans-serif;
//$font-family-azosans: 'Azo Sans', 'AzoSansUberW01-Regular', 'Black Han Sans', sans-serif;
$font-family-ubuntu: "Ubuntu", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-family-varelaround: "Varela Round", sans-serif;
$body-bg: $white;
$body-color: $gunmetal;
//$font-family-base: $font-family-roboto;
$font-family-base: $font-family-varelaround;
$font-family-secondary: $font-family-ubuntu;

$font-size-base: 0.8rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/src/index.scss";

// And define any of your custom or additional CSS/SCSS here,
// or via an @import
// fluid font
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 100%;
// $min_font: 16px;
// $max_font: 22px;
// $min_font: 8vmin;
// $max_font: 15vmin;
$min_font: 16px;
$max_font: 22px;
$calc_font: calc(1vw + 1vh + 0.8vmin);
$calc_h1: calc(1vw + 1vh + 5vmin);
$calc_h2: calc(1vw + 1vh + 3.5vmin);
$calc_h3: calc(1vw + 1vh + 2vmin);
$calc_h4: calc(1vw + 1vh + 1.5vmin);
$calc_h5: calc(1vw + 1vh + 0.8vmin);
$calc_h6: calc(1vw + 1vh + 0.6vmin);

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: $max_width;
  padding: 0rem;
  margin: 0;
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-size: $calc_font;
  line-height: 2;
}

// .mt-header {
//   // margin-top: 6vw !important;
//   // margin-top: 80px !important;
//   margin-top: 4.5em !important;
// }

// /*SCREENS*/

// @media (max-width: 320px) {
//   .mt-header {
//     margin-top:6.2em !important;
//   }
// }

// @media (min-width: px) {
//   .mt-header {
//     margin-top:6.2em !important;
//   }
// }

// @media (min-width: 2400px) {
//   .mt-header {
//     margin-top: 4em !important;
//   }
// }

$mod_1: 1.2; // mobile
$mod_2: 3; // desktop

h1 {
  // font-size: calc(1rem + 5vmin);
  font-size: $calc_h1;
  text-transform: capitalize;
  font-weight: 600;
}

h2 {
  font-size: $calc_h2;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: $calc_h3;
  text-transform: unset;
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
}

h4 {
  font-size: $calc_h4;
}
h5 {
  font-size: $calc_h5;
}
h6 {
  font-size: $calc_h6;
}

// @media (max-width: 1440px) {
//   .mt-header {
//     // margin-top: 6vw !important;
//     margin-top: 6vw !important;
//   }
// }
// @media (max-width: 1280px) {
//   .mt-header {
//     margin-top: 5vh !important;
//   }
// }
// @media (max-width: 1024px) {
//   .mt-header {
//     margin-top: 8vw !important;
//   }
// }

// @media (max-width: 768px) {
//   .mt-header {
//     margin-top: 10vw !important;
//   }
// }

// @media (max-width: 425px) {
//   .mt-header {
//     margin-top: 23vw !important;
//   }
// }
// @media (max-width: 375px) {
//   .mt-header {
//     margin-top: 26vw !important;
//   }
// }
// @media (max-width: 320px) {
//   .mt-header {
//     margin-top: 30vw !important;
//   }
// }

.vh-50 {
  height: 50vh;
}

.inlineImage10 {
  width: 10%;
}
.inlineImage20 {
  width: 20%;
}
.inlineImage30 {
  width: 30%;
}

.inlineImageLeft {
  float: left;
  padding-right: 1em;
}

.inlineImageRight {
  float: right;
}

.parralaxEffect {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parralaxEffectGrayscale {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%) saturate(50%) brightness(90%) contrast(100%);
  flex: 1;
  display: flex;
}

.parralaxEffectBlurred {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) saturate(50%) brightness(90%) contrast(50%);
  flex: 1;
  display: flex;
}
.parralaxNormal {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) saturate(100%) brightness(100%) contrast(100%);
}
.parralaxNormalLeft {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) saturate(100%) brightness(100%) contrast(100%);
}

.headerComponent {
  padding-left: 2em;
  padding-right: 2em;
}

hr {
  border: 0;
  height: 1px;
}

.hrprimary {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $secondary, $primary, $secondary);
}

.hrsecondary {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $secondary, $primary);
}

/*NAVBAR*/
.logo {
  margin: 0;
  padding: 0;
  width: 3em;
  font-weight: bold;
  margin-right: 0.05em;
}
.navbar-brand {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  width: 100%;
}

.nav-item {
  margin-left: 2vw;
  // padding: 1em !important;
  font-size: 0.8em;
  text-transform: uppercase;
}

.navbar-toggler {
  margin: 0 1em 0 1em;
  padding: 1em !important;
}

.dropdown-menu {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: inherit;
}

.dropdown-item {
  padding: 0.5em !important;
  background-color: var(--primary);
  color: var(--secondary);
  margin-top: 0.5vw;
}

.dropdown-item:hover {
  background-color: var(--secondary);
  color: var(--info);
}
/*END NAVBAR*/

/*LINKS*/
a {
  color: var(--info);
}
a:hover {
  color: var(--info);
}

.componenttext {
  line-height: 2;
  padding: 2em;
  text-align: left;
}

.imageBannerComponent {
  // min-height: 20vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vw;
  color: white;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
}

.linkComponent {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.5;
}
.imageComponentImage {
  padding: 2em;
  z-index: 1;
}
.imageComponentText {
  line-height: 2;
  padding: 2em;
  text-align: left;
}
.overlayImage {
  min-height: 20vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  // top: 0;
  // left: 0;
  // width: 400px;
  // height: 400px;
  // z-index: 20;
  background-color: rgba(244, 255, 31, 0.2); /*dim the background*/
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  z-index: 20;
  background-color: rgba(244, 255, 31, 0.2); /*dim the background*/
}

/*SOCIAL*/
.fa {
  font-size: 2.5em;
  width: 1em;
  text-align: center;
  text-decoration: none;
  margin: 0.1em;
  text-decoration: none;
  opacity: 0.8;
}

.fa:hover {
  color: white;
  opacity: 1;
}

.fa-facebook {
  color: white;
}

.fa-linkedin {
  color: white;
}
.fa-whatsapp {
  color: white;
}
.fa:hover {
  color: white;
  opacity: 1;
}

/* FOOTER */
.footer {
  height: 100%;
  width: 100%;
  bottom: 0;
}

.footer .col {
  width: auto;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.footer .row {
  padding: 0px 20px 20px 20px;
}
.footer h2 {
  margin-top: 1vw;
  padding: unset;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer h4 {
  margin-top: 1vw;
  padding: unset;
  font-family: inherit;
  font-size: 0.8em;
  text-transform: lowercase;
  letter-spacing: 0.25em;
}

.footer h6 {
  font-family: inherit;
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
  font-family: inherit;
  margin: 0vw;
  // padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  text-decoration: none;
}

.footer ul a {
  padding: unset;
}
.footer ul a:hover {
  text-decoration: none;
}

.footer ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
  color: #000;
}
.clearfix {
  clear: both;
}
