:root {
  --blue: #0087ff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #ff55a3;
  --red: #e51a4c;
  --orange: #ff5030;
  --yellow: #ffff33;
  --yellowHover: #ffffe1;
  --yellowLight: #ffffe1;
  --yellowgreen: #92f200;
  --green: #0bda51;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --black: #000;
  --primary: #091540;
  --secondary: #fff;
  --tertiary: #F5D547;  
  --success: #28a745;
  --info: #747572;
  --warning: #F5D547;
  --danger: #e51a4c;
  --light: #fff;
  --lighthover: #e1eaf3;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-family-lucida: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  --font-family-arial: Arial, Helvetica, sans-serif;
  --font-family-optima: 'Optima', 'Trebuchet MS', 'Noto Sans', sans-serif;
  --font-family-syncopate: 'Syncopate', sans-serif;
  --font-family-bowlby: 'Bowlby One SC', cursive;
  --font-family-blacksans: 'Black Han Sans', sans-serif;

}

body {
  font-family: var(--font-family-syncopate);
  /* font-family: "Avenir", Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:1.2;
  font-weight:300;
  -webkit-font-smoothing:antialiased;
  font-size:21px;

}

p {
  line-height:1.2
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(196, 197, 199, 0), rgba(85, 144, 204, 0.75), rgba(196, 197, 199, 0));
}

/* FONTS */

/* Style all font awesome icons */
/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
} */
/* .fa {
  padding: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
} */

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb6;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:focus,.btn-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.btn-linkedin:active:hover,.btn-linkedin.active:hover,.open>.dropdown-toggle.btn-linkedin:hover,.btn-linkedin:active:focus,.btn-linkedin.active:focus,.open>.dropdown-toggle.btn-linkedin:focus,.btn-linkedin:active.focus,.btn-linkedin.active.focus,.open>.dropdown-toggle.btn-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled.focus,.btn-linkedin[disabled].focus,fieldset[disabled] .btn-linkedin.focus{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-linkedin .badge{color:#007bb6;background-color:#fff}

/* END FONTS */


.btn-secondary {
  background-color: var(--orange2);
}
.rounded {
  border-radius: 20%;
  -webkit-filter: grayscale(100%) opacity(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) opacity(30%);
}

.card-img-overlay {
  background-color: rgba(#000, 0.4);
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .5s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}

/*NAVBAR*/

.navbar {
  background-color: var(--primary);
  /* box-shadow: 0 3px 6px var(--primaryTint5), 0 3px 6px var(--primaryTint5); */
  color:  var(--secondary);
  opacity: 1;
}
  nav .navbar-nav li a{
  color: var(--secondary) !important;
  }

  nav a{
  color: var(--secondary) !important;
  }
  nav a:hover{
    color: var(--secondary) !important;
    }
  .dropdown-menu {
    background-color: var(--primary);
    color: var(--secondary) !important;
  }
  .dropdown-item {
  background-color: var(--primary);
  color: var(--secondary) !important;
  }
  .dropdown-item:hover{
    background-color: var(--secondary);
    color: var(--primary) !important;
  }

/*height*/

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.dropdown-item  {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}
.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}



/*END NAVBAR*/

/* BUTTON COMPONENTS */
.buttonComponent {
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    display: inline-block;
      padding: 0 2rem;
      line-height: 6rem;
      border: none;
      border-radius: .5rem;
      min-width: 200px;
      margin-top: 3rem;
      margin-bottom: 3rem;
      font-family: inherit;
      font-size: 1.6666666667rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      -ms-transform-origin: center center;
      transform-origin: center center;
      transition: .3s;
      color: var(--secondary);
      background-color: var(--danger);
      -webkit-appearance: none;
      -moz-appearance: none;
  }
  .buttonComponent:hover {
    background-color: var(--danger);
    color: var(--secondary);
    text-decoration: none;
  }

  .linkComponent {
        color: var(--danger);
    }
    .linkComponent:hover {
      color: var(--danger);
      text-decoration: none;
    }


/* IMAGE COMPONENTS */ 
.imageComponent {
  /* background-color: var(--white); */
  background-color: var(--primary);
  /* border-radius: 10px 30px 10px; */
  padding: 1vw;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  /* -webkit-filter: opacity(30%);
 filter: opacity(30%); */
}

.imageComponentImage {

  /* box-shadow: 0 3px 6px var(--danger), 0 3px 6px var(--danger); */
  opacity: 1;
  margin: auto;
  padding: 0.2vw;
  border-radius: 10px 30px 10px;
}
.imageComponentText {
  background-color: var(--primary);
  /* border-radius: 10px 30px 10px; */
  /* box-shadow: 0 3px 6px var(--danger), 0 3px 6px var(--danger); */
  opacity: 1;
  margin: auto;
  padding: 0.2vw;
  height: auto;
  line-height: 1.8;
  text-align: left
}

/* .shadow {
  box-shadow: 0 3px 6px var(--danger), 0 3px 6px var(--danger);
} */

/* END IMAGE COMPONENTS


.servicesTags{
  text-align: center;

}

/* .dropdown:hover>.dropdown-menu {
  display: block;
  background-color: var(--primary);
  color: var(--white);
} */

header {
  margin: 50px; margin-top: 0vh;
}

header h1 {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: bold;
}

header h2 {
  color: var(--teal);
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 25px
}

header h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 22px
}

section {
 margin: 50px; text-align: center;
}

section h3 {
  color: var(--primary);
}

section h4 {
  color: var(--teal);
}

section p {
  color: var(--gray-dark); 
  margin: 30px;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
}

font-awesome-icon {
  font-size: 3em;
  opacity: 0.7;
  color: var(--primary);
}

.contact {
  width: 50%;
}
.contact .col {
  text-align: center; width: 50%;
}



.servicesHeader {
 margin-top: 80px;
}

.contact-bg-image {
  background: url(./img/contact-bg.jpg) no-repeat;
}

/* Position text in the middle of the page/image */

.logo{
  width: 80px;
  padding-right: 10px
}

.icon {
  font-size: 2.2vmin;
  opacity: 0.7;
  color: var(--primary);
}

.icon .contact {
  font-size: 3em;
  opacity: 0.7;
}

.icon .text {
  font-size: 3em;
  opacity: 0.7;
}

/* .card:hover {
  box-shadow: 0 3px 6px var(--primaryTint5), 0 3px 6px var(--primaryTint5);
}

.shaddow {
  box-shadow: 0 1px 3px var(--primaryTint5), 0 1px 2px rvar(--primaryTint5);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.shaddow-2 {
  box-shadow: 0 3px 6px var(--primaryTint5), 0 3px 6px var(--primaryTint5);
}

.shaddow-3 {
  box-shadow: 0 10px 20px var(--primaryTint5), 0 6px 6px var(--primaryTint5);
}

.shaddow-4 {
  box-shadow: 0 14px 28px var(--primaryTint5), 0 10px 10px var(--primaryTint5);
}

.shaddow-5 {
  box-shadow: 0 19px 38px var(--primaryTint5), 0 15px 12px var(--primaryTint5);
} */

.parallax {
  /* The image used */
  background-image: url("../imgs/odd-wave-bg-1.jpg");
  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}


/* DEMOS */
.demo {
  background-color:  #fff;
}

.demoLogoAnimation {
  background-color:  #000;
  margin: 5vh;
}

.demoAnimeAnimation {
  background-color:  #000;
  margin: 5vh;
}
.demoParticles {
  background-color:  #000;
  color: #fff;
  margin: 5vh;
}

.demoParallaxImage {
  background-color:  #000;
  color: #fff;
  margin: 5vh;
}
.demoVueParallaxyImage {
  background-color:  #000;
  color: #fff;
  margin: 5vh;
  width: 50vw
}



/* END OF DEMOS */