.imageComponent {
  padding: 2vw;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  /* -webkit-filter: grayscale(100%) opacity(30%);
 filter: grayscale(100%) opacity(30%); */
}

.imageComponentImage {
  background-color: var(--danger);
  /* box-shadow: 0 3px 6px var(--danger), 0 3px 6px var(--danger); */
  opacity: 1;
  margin: auto;
  padding: 0.2vw;
}
.imageComponentText {
  background-color: var(--danger);
  /* box-shadow: 0 3px 6px var(--danger), 0 3px 6px var(--danger); */
  opacity: 1;
  margin: auto;
  padding: 0.2vw;
  height: auto;
  line-height: 1.8;
  text-align: left
}

.shadow {
  box-shadow: 0 3px 6px var(--danger), 0 3px 6px var(--danger);
}
